// Variables
$font: "Sofia", sans-serif;
$font-size: 16px;
$blue: #0a4870;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;
$grey2: #f0f0f0;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$bluegrey: #49606e;
$orange: #ec992c;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

// Navbar
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.nav-item {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover,
.selected-nav {
  color: #45d2f7;
}

.nav-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0a4870;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: 50px 0 0 0;
  li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: 0.2s;
      border-radius: 25px;
    }
    &:hover {
      &::before {
        box-shadow: 0px 3px 20px 0px black;
        transform: scale(1.2);
      }
      color: #0a4870;
    }
  }
}

//News Page

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
  &::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .new-container {
    .content {
      opacity: 1;
      transform: translateY(20px);
    }
  }

  .informations-container {
    transform: translateY(60px);
    .more-information {
      margin-top: 20px;
      opacity: 1;
    }
  }
}

h2 {
  color: #0a4870;
  font-weight: 100;
}

.page-content {
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .news-card {
    position: relative;
    width: 300px;
    height: 350px;
    display: flex;
    flex: 0 0 370px;
    flex-direction: column;
    box-shadow: inset 0 0 10px #6e6e6e52;

    margin: 40px 10px;
    margin-bottom: 30px;
    @include radius(10px);

    overflow: hidden;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    color: $blue;

    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }

    .new-container {
      height: 100px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        transform: translateY(-100px);

        transition: 0.3s;

        .btn {
          border: 3px solid white;
          padding: 10px 15px;

          background: none;

          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;

          cursor: pointer;

          transition: 0.3s;

          &:hover {
            background: white;

            border: 0px solid white;

            color: $blue;
          }
        }
      }
    }

    .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: $grey2;
      transform: translateY(90px);
      transition: 0.3s;

      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em;

        &::after {
          content: "";

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: $blue;
        }
      }
      .more-information {
        opacity: 0;
        transition: 0.3s;
      }
    }

    &:hover {
      @include cardsOpen();
    }
  }
}

@media (max-width: 768px) {
  .news-card {
    @include cardsOpen();
  }
}

h1 {
  margin: 10px 20px;
}

.page-message {
  margin-top: 10%;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.search-bar {
  margin: 50px 0 0 20px;
  display: flex;

  input {
    outline: none;
    padding-left: 10px;
    border-radius: 25px;
    border-color: #0a4870;
    box-shadow: none;
    border-style: solid;
    border-width: 2px;
    color: #0a4870;
    font-size: 1em;
    font-weight: 400;
    &::placeholder {
      color: #0a4870;
      font-size: 1em;
      font-weight: 400;
    }
  }
  button {
    outline: none;
    background-color: white !important; /* Green */
    border: none;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
  }
}
